.dropButton {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dropButton:hover{
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color))!important;
    transform: scale(0.95);
}


/* Hero Section */
.hero {
    width: 100%;
    padding: 0px;
    /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/site-hero-bg.webp');*/
    background-size: cover;
    background-position: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    max-width: none;
}

.hero .container video {
    z-index: 0;
}

.hero .container h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.hero .container .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 100px;
    margin-bottom: 20px;
}

.hero .container p {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
}

.hero .container button {
    width: 150px;
    height: 60px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero .container button:hover {
    transform: scale(0.95);
}

/* Video Section */
.video {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.video .shape-1 {
    position: absolute;
    width: 30px;
    top: 80px;
    right: 100px;
    z-index: 1000;
    transform: rotate(-10deg);
}

.video .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .container h2 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.video .container .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 100px;
    margin-bottom: 20px;
}

.video .container p {
    font-size: 17px;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.video .container .video-wrapper {
    width: 100%;
    padding: 30px;
    border: 2px solid #E8EEFD;
    background: #fff;
    border-radius: 30px;
    position: relative;
}

.video .container .video-wrapper .shape-2 {
    position: absolute;
    width: 20px;
    top: -80px;
    left: -80px;
    z-index: 1000;
    transform: rotate(-10deg);
}

.video .container .video-wrapper iframe {
    width: 100%;
    height: 600px;
    border-radius: 8px;
    border: none;
}

.video .container .video-wrapper .shape-3 {
    position: absolute;
    width: 100px;
    bottom: -50px;
    left: -50px;
    z-index: -1;
    transform: rotate(-10deg);
}

/* About Section */
.about {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.about .container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.about .container .about-left {
    position: relative;
}
.about .container .about-left h2 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about .container .about-left .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 100px;
    margin-bottom: 20px;
}

.about .container .about-left p {
    font-size: 17px;
    line-height: 25px;
    color: var(--secondary-text-color);
}

.about .container .about-left .shape-1 {
    position: absolute;
    width: 25px;
    top: -70px;
    left: 0px;
    z-index: 1;
    transform: rotate(-10deg);
}

.about .container .about-right {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}

.about .container .about-right .about-img {
    width: 100%;
    border-radius: 12px;
}

.about .container .about-right .shape-4 {
    position: absolute;
    width: 25px;
    bottom: -5px;
    right: -10px;
    z-index: 1;
    transform: rotate(10deg);
}

/* AR Section */
.ar {
    margin-top: 100px;
    width: 100%;
    background: url('/assets/site-shape-2.png') #360D49;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.ar .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
    position: relative;
}

.ar .container .ar-left {
    width: 100%;
    position: relative;
}

.ar .container .ar-left img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.ar .container .ar-right {
    padding: 150px 0px;
}

.ar .container .ar-right h2 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

.ar .container .ar-right .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    border-radius: 100px;
    margin-bottom: 20px;
}

.ar .container .ar-right p {
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
}

.ar .container .shape-5 {
    position: absolute;
    width: 60px;
    bottom: -25px;
    right: 0px;
    transform: rotate(-10deg);
}

/* Products Section */
.products {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products .container h2 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.products .container .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 100px;
    margin-bottom: 20px;
}

.products .container .top-p {
    font-size: 17px;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.products .container .products-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.products .container .products-wrapper .product {
    width: 100%;
    padding: 30px;
    background: #fff;
    border: 1px solid #E8EEFD;
    transition: all 0.3s ease;
}

.products .container .products-wrapper .product:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.products .container .products-wrapper .product:nth-child(1) {
    border-right: none;
    border-bottom: none;
}

.products .container .products-wrapper .product:nth-child(2) {
    border-right: none;
    border-bottom: none;
}

.products .container .products-wrapper .product:nth-child(3) {
    border-right: none;
    border-bottom: none;
}

.products .container .products-wrapper .product:nth-child(4) {
    border-bottom: none;
}

.products .container .products-wrapper .product:nth-child(5) {
    border-right: none;
}

.products .container .products-wrapper .product:nth-child(6) {
    border-right: none;
}

.products .container .products-wrapper .product:nth-child(7) {
    border-right: none;
}

.products .container .products-wrapper .product img {
    width: 100%;
    margin-bottom: 30px;
}

.products .container .products-wrapper .product p {
    font-size: 17px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.products .container .products-wrapper .product:hover p {
    color: var(--secondary-color);
}

.products .container .products-wrapper .product .product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products .container .products-wrapper .product .product-bottom h3 {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

.products .container .products-wrapper .product:hover .product-bottom h3 {
    color: var(--secondary-color);
}

.products .container .products-wrapper .product .product-bottom button {
    width: 100px;
    height: 60px;
    border: 1px solid var(--secondary-color);
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    color: var(--primary-text-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.products .container .products-wrapper .product .product-bottom button:hover {
    background: var(--secondary-color);
    color: #fff;
}

.products .container .see-all-btn {
    width: 180px;
    height: 60px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.products .container .see-all-btn:hover {
    transform: scale(0.95);
}

/* Contact Section */
.contact {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.contact .container .contact-box {
    width: 100%;
    padding: 80px 140px;
    background: url('/assets/site-shape-3.png') #360D49;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .container .contact-box h2 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.contact .container .contact-box .divider {
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    border-radius: 100px;
    margin-bottom: 20px;
}

.contact .container .contact-box p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

.contact .container .contact-box button {
    width: 240px;
    height: 60px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--ternary-color));
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact .container .contact-box button:hover {
    transform: scale(0.95);
}

/* Responsive */

/* Hero Section (Responsive) */
@media only screen and (max-width: 1024px) {
    .hero .container h1 {
        font-size: 48px;
    }

    .hero .container h1 br {
        display: none;
    }

    .hero .container p {
        padding: 0px;
        font-size: 15px;
    }
}

/* Video Section (Responsive) */
@media only screen and (max-width: 1400px) {
    .video .container .video-wrapper .shape-2 {
        position: absolute;
        width: 20px;
        top: -80px;
        left: -5%;
        z-index: 1000;
        transform: rotate(-10deg);
    }
}

@media only screen and (max-width: 1024px) {
    .video .container .video-wrapper iframe {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .video .shape-1 {
        top: 40px;
    }

    .video .container .video-wrapper .shape-2 {
        top: -40px;
    }
}

@media only screen and (max-width: 450px) {
    .video .container .video-wrapper {
        padding: 20px;
    }

    .video .container .video-wrapper iframe {
        height: 250px;
    }
}

/* About Section (Responsive) */
@media only screen and (max-width: 1024px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .container .about-left {
        order: 2;
    }
}

/* AR Section (Responsive) */
@media only screen and (max-width: 1580px) {
    .ar .container {
        grid-template-columns: 1.2fr 2fr;
    }
}

@media only screen and (max-width: 1300px) {
    .ar .container {
        grid-template-columns: 1.5fr 2fr;
    }
}

@media only screen and (max-width: 1024px) {
    .ar .container {
        grid-template-columns: 1fr;
    }

    .ar .container .ar-left {
        display: none;
    }

    .ar .container .ar-right {
        padding: 80px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ar .container .ar-right h2 {
        text-align: center;
    }

    .ar .container .ar-right p {
        text-align: center;
    }
}

/* Products Section (Responsive) */
@media only screen and (max-width: 1200px) {
    .products .container .products-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .products .container .products-wrapper .product:nth-child(1) {
        border-right: none;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(2) {
        border-right: none;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(3) {
        border-right: 1px solid #E8EEFD;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(4) {
        border-bottom: none;
        border-right: none;
    }
    
    .products .container .products-wrapper .product:nth-child(5) {
        border-bottom: none;
        border-right: none;
    }
    
    .products .container .products-wrapper .product:nth-child(6) {
        border-right: 1px solid #E8EEFD;
    }
    
    .products .container .products-wrapper .product:nth-child(7) {
        border-right: none;
    }
}

@media only screen and (max-width: 900px) {
    .products .container .products-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .products .container .products-wrapper .product:nth-child(1) {
        border-right: none;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(2) {
        border-right: 1px solid #E8EEFD;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(3) {
        border-right: none;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(4) {
        border-bottom: none;
        border-right: 1px solid #E8EEFD;
    }
    
    .products .container .products-wrapper .product:nth-child(5) {
        border-bottom: none;
        border-right: none;
    }
    
    .products .container .products-wrapper .product:nth-child(6) {
        border-right: 1px solid #E8EEFD;
        border-bottom: none;
    }
    
    .products .container .products-wrapper .product:nth-child(7) {
        border-right: none;
    }
}

@media only screen and (max-width: 620px) {
    .products .container .products-wrapper {
        grid-template-columns: 1fr;
    }

    .products .container .products-wrapper .product {
        border: 1px solid #E8EEFD !important;
        border-bottom: none !important;
    }

    .products .container .products-wrapper .product:last-child {
        border-bottom: 1px solid #E8EEFD !important;
    }
}

/* Contact Section (Responsive) */
@media only screen and (max-width: 980px) {
    .contact .container .contact-box {
        padding: 80px;
    }
}

@media only screen and (max-width: 750px) {
    .contact .container .contact-box {
        background-size: contain;
    }
}

@media only screen and (max-width: 550px) {
    .contact .container .contact-box {
        padding: 80px 30px;
    }
}
