:root {

    /* Colors */
    --primary-color: #FD652A;
    --secondary-color: #D1107D;
    --ternary-color: #7805A7;

    /* Text Colors */
    --primary-text-color: #222;
    --secondary-text-color: #555;

    /* Font Families */
    --primary-font-family: 'Rubik', sans-serif;

}