<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="recklessMFO">
    <title>DropAr</title>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if @filter %>

      <div class='ar-container' style='height: 100vh; width: 100vw;<% if @isAR %>transform: translate3d(0, 0, 0); z-index: 0<% end %>'>
        <model-viewer id='modelViewer' style='background-image: linear-gradient(to right top, #870fa6, #a8009c, #c20091, #d80085, #ea0078, #f20b6e, #f91a64, #ff2859, #ff3550, #ff4147, #rf4c3d, #ff5734); width: 100%; height: 100%; margin: auto; ' src="<%=@filter.glb_url %>" ios-src='<%= @filter.usdz_url %>' ar ar-modes="webxr scene-viewer" auto-rotate camera-controls <% if @filter.vertical == true%>ar-placement="wall"<%end%>></model-viewer>
      </div>

      <% if @isAR%>
        <div id-'droparLoading' style='height: 100vh; width: 100vw; position: absolute; top: 0; z-index: 1000;transform: translate3d(0, 0, 1000); background-color: black; display: flex; justify-content: center;'>
          <div style='width: 250px; margin:auto'>
          <%= image_tag("loading-logo.gif", :style => "width: 250px; margin-top: -20%;") %>
          </div>
        </div>

        <%= javascript_include_tag "ar-autoload" %>
      <% end %>

    <% end %>
  </body>
</html>
